<!DOCTYPE html>
<html>
<head>
    <title>Worker</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Productos</h2>

    <div class="row my-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="Busca por nombre" id="searchInput" oninput="filterItems()">
        </div>
        <div class="col">
            <select class="form-control" id="categoryFilter" onchange="filterItems()">
                <option value="">Todos</option>
                <option value="ELE">Eléctrico</option>
                <option value="PLU">Plomería</option>
                <option value="OFF">Oficina</option>
                <option value="CLE">Limpieza</option>
            </select>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <h3>Articulos disponibles:</h3>
            <ul id="items" class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" data-category="Limpieza">
                    Escoba <input type="number" min="0" value="0" class="form-control w-25">
                    <button class="btn btn-primary" onclick="addItem('Escoba')">Agregar</button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" data-category="Limpieza">
                    Jabon <input type="number" min="0" value="0" class="form-control w-25">
                    <button class="btn btn-primary" onclick="addItem('Jabon')">Agregar</button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" data-category="Plomería">
                    Llave <input type="number" min="0" value="0" class="form-control w-25">
                    <button class="btn btn-primary" onclick="addItem('Llave')">Agregar</button>
                </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" data-category="Oficina">
                    Papel <input type="number" min="0" value="0" class="form-control w-25">
                    <button class="btn btn-primary" onclick="addItem('Papel')">Agregar</button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" data-category="Eléctrico">
                    Foco <input type="number" min="0" value="0" class="form-control w-25">
                    <button class="btn btn-primary" onclick="addItem('Foco')">Agregar</button>
                </li>
            </ul>
        </div>
    </div>

    <hr>

    <div class="row my-3">
        <div class="col">
            <button class="btn btn-primary" onclick="showCart()">Mostrar carrito</button>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>
    let cartItems = [];
    let availableItems = [
        { name: 'Escoba', category: 'CLE' },
        { name: 'Jabon', category: 'CLE' },
        { name: 'Llave', category: 'PLU' },
        { name: 'Papel', category: 'OFF' },
        { name: 'Foco', category: 'ELE' }


    ]; // Sample list of available items

    function addItem(itemName) {
        const item = {
            name: itemName,
            quantity: 1 // Default quantity is 1
        };

        const existingItem = cartItems.find(i => i.name === itemName);
        if (existingItem) {
            existingItem.quantity += 1;
        } else {
            cartItems.push(item);
        }
                alert(`Se agregó ${itemName} al carrito`);
    }

    function showCart() {
        const cartList = document.getElementById("selectedItems");
        cartList.innerHTML = "";
        cartItems.forEach(item => {
            const listItem = document.createElement("li");
            listItem.className = "list-group-item d-flex justify-content-between align-items-center";
            listItem.textContent = `${item.name} : ${item.quantity}`;
            cartList.appendChild(listItem);
        });
        $('#cartModal').modal('show');
    }

    function filterItems() {
        const searchInput = document.getElementById('searchInput').value.toLowerCase();
        const selectedCategory = document.getElementById('categoryFilter').value;
        let filteredItems = availableItems;
        if (selectedCategory) {
            filteredItems = filteredItems.filter(item => item.category === selectedCategory);
        }
        if (searchInput) {
            filteredItems = filteredItems.filter(item => item.name.toLowerCase().includes(searchInput));
        }
        const itemsList = document.getElementById('items');
        itemsList.innerHTML = '';
        filteredItems.forEach(item => {
            const listItem = document.createElement('li');
            listItem.className = 'list-group-item d-flex justify-content-between align-items-center';
            listItem.setAttribute('data-category', item.category);
            listItem.innerHTML = `${item.name} <input type="number" min="0" value="0" class="form-control w-25"> <button class="btn btn-primary" onclick="addItem('${item.name}')">Agregar</button>`;
            itemsList.appendChild(listItem);
        });
    }
</script>

<div class="modal" id="cartModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--  cart content here -->
                <ul id="selectedItems" class="list-group">
                    <!-- Cart items will be displayed here -->
                </ul>
                <!-- Other cart information can be added here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="confirmOrder()">Confirmar</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
