<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body::before {
            display: block;
            content: '';
            height: 60px;
        }
    </style>
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
        <a href="{% url 'dashboard' %}" class="navbar-brand">StockMaster</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link" data-toggle="tooltip" data-placement="top"
                       title="Dashboard"><i class="bi bi-speedometer"></i></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'inventory' %}" class="nav-link" data-toggle="tooltip" data-placement="top"
                       title="Inventario"><i class="bi bi-archive"></i></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'outputHistory' %}" class="nav-link" data-toggle="tooltip" data-placement="top"
                       title="Salidas"><i class="bi bi-box-arrow-up"></i></i></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'inputHistory' %}" class="nav-link" data-toggle="tooltip" data-placement="top"
                       title="Entradas"><i class="bi bi-box-arrow-in-down"></i></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'workers' %}" class="nav-link" data-toggle="tooltip" data-placement="top"
                       title="Personal"><i class="bi bi-people"></i></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="tooltip" data-placement="top"
                       title="Informes"><i class="bi bi-receipt"></i></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link"><i class="bi bi-box-arrow-left"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}

{% endblock content %}

<!-- Footer -->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">&copy; StockMaster 2023 </p>
    </footer>
</div>

</body>
</html>