<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Inventario</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        h1, p {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Reporte de Inventario</h1>
<p>Fecha: {{ date }}</p>
<p>Cantidad total de productos: {{ products.count }}</p>
<p>Valor total del inventario: ${{ totalValue }} M.N.</p>
<p>Rango de inventario: {{ fromDate }} - {{ toDate }}</p>

<table>
    <thead>
    <tr>
        <th>SKU</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Valor Unitario</th>
        <th>Valor Total</th>
    </tr>
    </thead>
    <tbody>
    <!-- Aquí puedes agregar las filas con los datos del inventario -->
    {% for product in products %}
    <tr>
        <td>{{ product.SKU }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>${{ product.price }}</td>
        <td>${{ product.getTotalValue }}</td>
    </tr>
    {% endfor %}
    <!-- Puedes copiar y pegar esta fila para agregar más productos -->
    </tbody>
</table>
</body>
</html>
