{% extends 'base.html' %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Detalles de producto</title>
    </head>
    <body>
    <section class="p-5">
        <div class="container">
            <h2>{{ product.name }}</h2>
            <hr>
        </div>
        <div class="row g-4 text-center">
            <div class="col-md text-center">
                {% if product.image %}
                <img src="{{ product.image.url }}" style="width: 100%" alt="">
                {% endif %}
            </div>
            <div class="col-md tex-center">
                <h4>Detalles del producto</h4>
                <p class="lead">SKU: {{ product.SKU }}</p>
                <p class="lead">Precio: ${{ product.price }} M.N.</p>
                <p class="lead">Categoría: {{ product.get_category_display }}</p>
                <p class="lead">Cantidad actual: {{ product.quantity }}</p>
                <p class="lead">Baja existencia a partir de: {{ product.threshold }}</p>
                <a href="{% url 'editProduct' product.id %}" class="btn btn-primary">Editar detalles</a>
                <a href="{% url 'productGraph' product.id %}" class="btn btn-secondary">Ver informes</a>
            </div>
        </div>
    </section>
    </body>
{% endblock content %}