{% extends 'base.html' %}

{% block content %}

    <head>
        <title>Informe del producto</title>
        <!-- Include Chart.js library -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!-- Include Ajax library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>

    <!-- MAIN GRAPH -->
    <section class="p-5 bg-light">
        <div class="container">
            <div class="row g-5">
                <div class="col-md">
                    <h3>Producto</h3>
                    <p class="lead">{{ product.name }}</p>
                    <p class="lead">SKU: {{ product.SKU }}</p>
                    <p class="lead">Precio: ${{ product.price|floatformat:"2g" }} M.N.</p>
                    <p class="lead">Existencia: {{ product.quantity }}</p>
                </div>
                <div class="col-md text-center">
                    <img style="width: 300px" src="{{ product.image.url }}" alt="">
                </div>
            </div>
            <div class="row m-4">
                <div class="col-md">
                    <h3>Existencia</h3>
                    <form class="d-flex">
                        {% csrf_token %}
                        <select class="form-select me-2" id="monthSelectStock" onchange="GetStockData()">
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                        <select class="form-select" id="yearSelectStock" onchange="GetStockData()">
                            {% for y in years %}
                                <option value="{{ y }}">{{ y }}</option>
                            {% endfor %}
                        </select>
                    </form>
                    <div style="width: 100%; height: 350px">
                        <canvas id="stockGraph"></canvas>
                    </div>
                </div>
                <div class="col-md">
                    <h3>Precio</h3>
                    <form class="d-flex">
                        {% csrf_token %}
                        <select class="form-select me-2" id="monthSelectPrice" onchange="GetPriceData()">
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                        <select class="form-select" id="yearSelectPrice" onchange="GetPriceData()">
                            {% for y in years %}
                                <option value="{{ y }}">{{ y }}</option>
                            {% endfor %}
                        </select>
                    </form>
                    <div style="width: 100%; height: 350px">
                        <canvas id="priceGraph"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function updateGraphs() {
            GetPriceData();
            GetStockData();
        }

        document.addEventListener('DOMContentLoaded', function () {
            let today = new Date();
            let currentMonth = today.getMonth() + 1; // Añadimos 1 porque los meses en JavaScript son base 0
            let currentYear = today.getFullYear();

            // Establecer los valores seleccionados por defecto
            document.getElementById('monthSelectStock').value = currentMonth;
            document.getElementById('yearSelectStock').value = currentYear;
            document.getElementById('monthSelectPrice').value = currentMonth;
            document.getElementById('yearSelectPrice').value = currentYear;
            updateGraphs();
        });

        const stockGraph = document.getElementById('stockGraph').getContext('2d');
        var data = JSON.parse("{{ data }}"); // Decode the JSON to an integer array
        let labels = "{{ labels }}".split(','); // Split string to convert into an array
        // Creates the graph
        const stockChart = new Chart(stockGraph, {
            type: 'line', // Graph type
            data: {
                labels: labels,
                datasets: [{
                    label: 'Existencia',
                    data: [], // Data for the graph
                    backgroundColor: 'rgba(54, 162, 235, 0.2)', // background color
                    borderColor: 'rgba(54, 162, 235, 1)', // Border color
                    borderWidth: 2, // Border width
                    tension: 0,
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: false, // Start from 0 on Y axis
                        display: true,
                        title: {
                            display: true,
                            text: 'Existencia'
                        },
                        ticks: {
                            precision: 0,
                        }
                    },
                    x: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Día del mes'
                        }
                    },
                },

            }
        });

        const priceCanvas = document.getElementById("priceGraph").getContext('2d');
        let priceData = JSON.parse("{{ priceData|safe }}");
        let priceLabels = "{{ priceLabels }}".split(',');
        const pChart = new Chart(priceCanvas, {
            type: 'line', // Graph type
            data: {
                labels: labels,
                datasets: [{
                    label: 'Precio',
                    data: [], // Data for the graph
                    backgroundColor: 'rgba(54, 162, 235, 0.2)', // background color
                    borderColor: 'rgba(54, 162, 235, 1)', // Border color
                    borderWidth: 2, // Border width
                    tension: 0,
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: false, // Start from 0 on Y axis
                        display: true,
                        title: {
                            display: true,
                            text: 'Precio'
                        },
                    },
                    x: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Día del mes'
                        }
                    },
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                var label = context.dataset.label || '';

                                if (label) {
                                    label += ': ';
                                }
                                label += '$' + context.parsed.y.toLocaleString(undefined, {
                                    minimumFractionDigits: 2,
                                    maximumFractionDigits: 2
                                }) + ' M.N.';

                                return label;
                            }
                        }
                    }
                },
            }
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        function GetStockData() {
            let monthElement = document.getElementById("monthSelectStock")
            let yearElement = document.getElementById("yearSelectStock")


            let month = monthElement.options[monthElement.selectedIndex].value
            let year = yearElement.options[yearElement.selectedIndex].value

            let csrftoken = getCookie('csrftoken');
            console.log(month)
            console.log(year)
            $.ajax({
                type: "POST",
                url: "{% url 'productMonthData' %}",
                data: {
                    "productid": "{{ product.id }}",
                    "month": month,
                    "year": year,
                    'csrfmiddlewaretoken': csrftoken,
                },
                success: function (response) {
                    //update the current data with the new response
                    stockChart.data.labels = response.labels.split(',')
                    stockChart.data.datasets[0].data = JSON.parse(response.data)
                    stockChart.update();
                },
                error: function (error) {
                    console.error('Error al enviar los datos de los productos. Inténtalo de nuevo más tarde.');
                }
            });
        }

        function GetPriceData() {
            let monthElement = document.getElementById("monthSelectPrice")
            let yearElement = document.getElementById("yearSelectPrice")


            let month = monthElement.options[monthElement.selectedIndex].value
            let year = yearElement.options[yearElement.selectedIndex].value

            let csrftoken = getCookie('csrftoken');

            $.ajax({
                type: "POST",
                url: "{% url 'productDataPrice' %}",
                data: {
                    "productid": "{{ product.id }}",
                    "month": month,
                    "year": year,
                    'csrfmiddlewaretoken': csrftoken,
                },
                success: function (response) {
                    //update the current data with the new response
                    pChart.data.labels = response.labels.split(',')
                    pChart.data.datasets[0].data = JSON.parse(response.data)
                    pChart.update();
                },
                error: function (error) {
                    console.error('Error al enviar los datos de los productos. Inténtalo de nuevo más tarde.');
                }
            });
        }
    </script>

{% endblock content %}
