{% extends 'base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Informe Gastos</title>
        <style>
            .tableRoundedm {
                border-radius: 10px;
                overflow: hidden;
            }
        </style>
    </head>
    <body>
    <!-- Navbar tabs -->
    <section class="p-5">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#"
                       role="button">Gastos</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'textExpense' %}">Textual</a></li>
                        <li><a class="dropdown-item" href="{% url 'expensesCharts' %}">Gráficos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       role="button">Inventario</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'textInventory' %}">Textual</a></li>
                        <li><a class="dropdown-item" href="{% url 'reportCharts' %}">Gráficos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

    <div class="container">
        <h1>Informe Gastos</h1>
    </div>

    <!-- Month & year select -->
    <section class="">
        <div class="container">
        </div>
        <div class="container text-center">

            <form id="myForm" action="{% url 'textExpense' %}" method="post">
                {% csrf_token %}
                <div class="d-inline-block">
                    <select class="form-select" id="monthSelect" name="month" onchange="">
                        <option value="1" {% if month == 1 %} selected {% endif %}>Enero</option>
                        <option value="2" {% if month == 2 %} selected {% endif %}>Febrero</option>
                        <option value="3" {% if month == 3 %} selected {% endif %}>Marzo</option>
                        <option value="4" {% if month == 4 %} selected {% endif %}>Abril</option>
                        <option value="5" {% if month == 5 %} selected {% endif %}>Mayo</option>
                        <option value="6" {% if month == 6 %} selected {% endif %}>Junio</option>
                        <option value="7" {% if month == 7 %} selected {% endif %}>Julio</option>
                        <option value="8" {% if month == 8 %} selected {% endif %}>Agosto</option>
                        <option value="9" {% if month == 9 %} selected {% endif %}>Septiembre</option>
                        <option value="10" {% if month == 10 %} selected {% endif %}>Octubre</option>
                        <option value="11" {% if month == 11 %} selected {% endif %}>Noviembre</option>
                        <option value="12" {% if month == 12 %} selected {% endif %}>Diciembre</option>
                    </select>
                </div>
                <div class="d-inline-block">
                    <select class="form-select" id="yearSelect" name="year" onchange="">
                        {% for year in years %}
                            <option value="{{ year }}" {% if forloop.counter1 == year %}
                                    selected {% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-inline-block">
                    <select class="form-select" id="externalSelect" name="external" onchange="">
                        <option value="all" {% if order_type == 'all' %} selected {% endif %}>Sin filtro</option>
                        <option value="external" {% if order_type == 'external' %} selected {% endif %}>Externos
                        </option>
                        <option value="internal" {% if order_type == 'internal' %} selected {% endif %}>Internos
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
                <a href="#" id="verPDF" class="btn btn-info" target="_blank">Ver reporte <i
                        class="bi bi-filetype-pdf"></i></a>
            </form>
        </div>
    </section>

    <!-- Cards -->
    <section class="pt-4 pb-2">
        <div class="container d-flex flex-row justify-content-around">
            <div class="card text-center align-items-center"
                 style="width: 18rem; display: flex; flex-direction: column; justify-content: center;">
                <h5 class="card-title mt-2"># de órdenes en el mes</h5>
                <h1>{{ totalOrders }}</h1>
            </div>
            <div class="card text-center align-items-center"
                 style="width: 18rem; display: flex; flex-direction: column; justify-content: center;">
                <h5 class="card-title mt-2">Gastos totales del mes</h5>
                <h1>${{ totalExpense|floatformat:"2g" }} M.N.</h1>
            </div>
        </div>
    </section>


    <!-- Main table -->
    <section class="p-5">
        <div class="container">
            {% if orders %}
                {% for order in orders %}
                    <h3 class="pt-4">Folio: #{{ order.id }} Fecha de creación de la
                        orden: {{ order.date_created.date }}</h3>
                    <table class="table mt-3 table-hover tableRoundedm">
                        <thead class="table-dark">
                        <tr>
                            <th>SKU</th>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Subtotal</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order_item in order.GetItems %}
                            <tr>
                                <td>{{ order_item.product.SKU }}</td>
                                <td>{{ order_item.product.name }}</td>
                                <td>{{ order_item.quantity }}</td>
                                <td>${{ order_item.getProductAsOfDate.price|floatformat:"2g" }} M.N.</td>
                                <td>${{ order_item.getSubtotal|floatformat:"2g" }} M.N.</td>
                            </tr>
                        {% endfor %}
                        <tr class="table-primary">
                            <td colspan="5" align="center">Valor total de la orden:
                                ${{ order.GetTotal|floatformat:"2g" }}
                                M.N.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endfor %}
            {% else %}
                <div class="card text-bg-warning mx-auto" style="max-width: 18rem;">
                <div class="card-header"></div>
                <div class="card-body">
                    <h5 class="card-title">No se encontraron entradas</h5>
                    <p class="card-text">No hay entradas para esta combinación de mes y año.</p>
                </div>
            {% endif %}
            </div>
    </section>


    <!-- Main table -->
    {% if orders %}
        <section>
            <div class="container">
                <h3>Costos totales por producto</h3>
                <table class="table mt-3 table-hover tableRoundedm">
                    <thead class="table-dark">
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Costo Total</th> <!-- Agregado para mostrar el costo total -->
                    </tr>
                    </thead>
                    <tbody>
                    {% for product, info in valorProductosOrdenado.items %}
                        <tr>
                            <td>{{ product }}</td>
                            <td>{{ info.cantidad_total_productos }}</td>
                            <td>${{ info.costo_total|floatformat:"2g" }} M.N.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    {% endif %}


    <!-- Scripts -->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(document).ready(function () {
            // Manejar clic en el enlace "Ver PDF"
            $("#verPDF").click(function (e) {
                e.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                // Obtener los valores seleccionados de los select
                var monthValue = $("#monthSelect").val();
                var yearValue = $("#yearSelect").val();
                let externalValue = $("#externalSelect").val();

                // Obtener el token CSRF
                var csrfToken = $("input[name=csrfmiddlewaretoken]").val();

                // Crear un formulario temporal y agregar los valores de los select y el token CSRF
                var tempForm = $("<form>")
                    .attr("method", "post")
                    .attr("action", "{% url 'viewExpPDF' %}")
                    .attr("target", "_blank")
                    .append($('<input type="hidden" name="month" value="' + monthValue + '">'))
                    .append($('<input type="hidden" name="year" value="' + yearValue + '">'))
                    .append($('<input type="hidden" name="external" value="' + externalValue + '">'))
                    .append($('<input type="hidden" name="csrfmiddlewaretoken" value="' + csrfToken + '">'));

                // Agregar el formulario temporal al cuerpo del documento y enviarlo
                $("body").append(tempForm);
                tempForm.submit();
            });
        });

    </script>


    </body>
    </html>
{% endblock content %}