<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <!-- Enlace a los archivos de Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Inventario</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre del Producto</th>
                    <th scope="col">Cantidad</th>
                    <!-- Otros encabezados de tabla si es necesario -->
                </tr>
            </thead>
            <tbody>
                <!-- Aquí irán los datos del inventario que se mostrarán dinámicamente -->
                <tr>
                    <th scope="row"> 1 </th>
                    <td> jabon</td>
                    <td> 3</td>
                    <!-- Otros datos de la fila si es necesario -->
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Enlace a los archivos de JavaScript de Bootstrap (opcional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
