<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Trabajador</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        .product-image {
            width: 100%; /* Make image fill the container */
            height: auto; /* Maintain aspect ratio */
            max-width: 150px; /* Maximum width */
            max-height: 150px; /* Maximum height */
        }

        .img-placeholder {
            width: 100%;
            height: auto;
            max-width: 150px;
            max-height: 150px;
            text-align: center;
            line-height: 150px; /* Center text vertically */
            background-color: #e9ecef;
            color: #6c757d;
        }

        .product-count {
            position: fixed;
            right: 10px;
            bottom: 10px;
            background-color: white;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

        .hidden-product {
            visibility: hidden;
            pointer-events: none;
        }

    </style>

</head>
<body>

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Inventario</h2>
    </div> <!-- container //  -->
</section>
<div class="form-inline product-count">
    <span><b>{{ product_count }}</b> Productos Encontrados</span>
</div>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <div class="card">
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Categorias</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_1">
                            <div class="card-body">
                                <ul class="list-menu">
                                    <li><a href="#">Categoria 1</a></li>
                                    <li><a href="#">Categoria 2</a></li>
                                    <li><a href="#">Categoria 3</a></li>
                                    <!-- More categories -->
                                </ul>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group  .// -->


                </div> <!-- card.// -->
            </aside> <!-- col.// -->

            <main class="col-md-9">
                <!-- Main content -->
                <header class="border-bottom mb-4 pb-3">

                    <div class="container">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="searchBar" placeholder="Search for products...">
                        </div>

                    </div>
                </header><!-- sect-heading -->
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-4">
                            <figure class="card card-product-grid">
                                <div class="img-wrap">
                                    {% if product.image %}
                                        <a href="#"><img src="{{ product.image.url }}" class="product-image"></a>
                                    {% else %}
                                        <div class="img-placeholder">No Image</div>
                                    {% endif %}
                                </div> <!-- img-wrap.// -->
                                <figcaption class="info-wrap">
                                    <div class="fix-height">
                                        <a href="#" class="title">{{ product.name }}</a>
                                        <div class="price-wrap mt-2">
                                            <span class="price">Disponibles: {{ product.quantity }}</span>
                                        </div> <!-- price-wrap.// -->
                                    </div>
                                    <a href="#" class="btn btn-block btn-success">Agregar al Carrito </a>
                                </figcaption>
                            </figure>
                        </div> <!-- col.// -->
                    {% endfor %}
                </div> <!-- row end.// -->

                <nav class="mt-4" aria-label="Page navigation sample">
                    <ul class="pagination">
                        <li class="page-item {% if products.has_previous %}{% else %}disabled{% endif %}">
                            {% if products.has_previous %}
                                <a class="page-link" href="?page={{ products.previous_page_number }}">Anterior</a>
                            {% else %}
                                <span class="page-link">Anterior</span>
                            {% endif %}
                        </li>
                        {% for i in products.paginator.page_range %}
                            <li class="page-item {% if products.number == i %}active{% endif %}">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item {% if products.has_next %}{% else %}disabled{% endif %}">
                            {% if products.has_next %}
                                <a class="page-link" href="?page={{ products.next_page_number }}">Siguiente</a>
                            {% else %}
                                <span class="page-link">Siguiente</span>
                            {% endif %}
                        </li>
                    </ul>
                </nav>


            </main> <!-- col.// -->
        </div>
    </div> <!-- container .//  -->
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const searchBar = document.getElementById('searchBar');
        searchBar.addEventListener('input', (e) => {
            const searchQuery = e.target.value.toLowerCase();
            const products = document.querySelectorAll('.card-product-grid');
            products.forEach((product) => {
                const productName = product.querySelector('.title').textContent.toLowerCase();
                if (productName.includes(searchQuery)) {
                    product.classList.remove('hidden-product');
                } else {
                    product.classList.add('hidden-product');
                }
            });
        });
    });
</script>


</body>
</html>